---
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
	<head>
		<GoogleAnalytics />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Demonstrating PhotoSwipe inside Astro, with automatic image optimizations."
		/>
		<title>Astro + PhotoSwipe</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
